@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

body { 
    background-color: #FBF9EE;
    font-family: 'Space Grotesk', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    color: #1B4D7A;
}